@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    padding-left: 10em;
    padding-right: 10em;
}
.newspaper-container {
    width: 700px;
    margin: 25px 0px;
    box-shadow: #ddd;
    padding: 1em;
    border-radius: 1%;
    background-color: white;
}
h1 {
    text-align: center;
    font-family: Abril Fatface;
    
}
.class {
    font-family: Abril Fatface;
}
h2, h4, h5 {
    font-family: Roboto Slab;
    text-align: left;
}

nav {
    text-align: center;
    padding: 0em;
    text-decoration: none;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    position: sticky;
    top: 1px;
    background-color: white;
    
    

}
nav ul {
    margin-right: 5%;
}
nav ul li {
    padding: -1% 0.7%;
    display: inline;
    
    
}
.nav-links {
    color: #777;
    text-decoration: none;
    

}
body {
    font-family: Source Sans Pro;
}

div {
    display: inline-block;
}

h5 {
    color: red
}
nav ul {
    list-style-type:none;
}
nav li{
    display: inline-block;
}
section {
    display: inline-block;
    width: 325px;
    border-top: 1px solid #777;
    margin: 1px;

}
p {
    text-align: justify;
    margin: 0px 1px;
}
.align-p {
    padding: 30px;
    
}
img {
    width: 100%;
}